<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	#RewriteCond $1 !^(index\.php|resources|robots\.txt)
	######################
	# For Version Rewrite
	######################
	#RewriteCond %{REQUEST_URI}  !(version|verizon) [NC]
	#RewriteRule ^version/(.*)$ /version/index.php?$1 [L]
	#RewriteRule ^version/([a-z,A-Z]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/(.*)$ /version/index.php?$1 [L]
	###################################
	# Codeigniter Rewrite
	###################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system|assets|media)
	RewriteRule ^(.*)$ /index.php?/$1 [L,QSA]
	# Global Content-Type Rewrite
	RewriteRule .* - [E=HTTP_CONTENT_TYPE:%{HTTP:Content-Type},L]
</IfModule>
<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

    ErrorDocument 404 /index.php
</IfModule>